body {
  padding-top: 70px;
}
footer {
  padding-top: 70px;
}
.carousel-caption {
  background-color:rgba(0,0,0,0.5);
  border-radius: 15px;
}
.carousel-control .glyphicon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}
.showcase-person {
  height: 300px;
  text-align: center;
}
.showcase-person .img-thumbnail {
  max-height: 280px;
}